<% include partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= thisPost.restaurant_name %> - <%= thisPost.city %></div>

    <form class="ui form" action="/update/<%= thisPost._id %>?_method=PUT" method="POST">
        <div class="ui large header">Company Information</div>
        <div class="field">
            <label>City</label>
            <input type="text" name="city" value="<%= thisPost.city %>">
        </div>
        <div class="field">
            <label>Restaurant Name</label>
            <input type="text" name="restaurant_name" value="<%= thisPost.restaurant_name%>">
        </div>
        <div class="field">
            <label>Address</label>
            <input type="text" name="location" value="<%= thisPost.location %>">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="thumbnail_image" value="<%= thisPost.thumbnail_image %>">
        </div>
        <div class="field">
            <label>URL</label>
            <input type="text" name="url" value="<%= thisPost.url %>">
        </div>
        <div class="ui large header">Weekly Specials</div>
        <div class="field">
            <label>Sunday Drink</label>
            <input type="text" name="sunday_drink" value="<%= thisPost.sunday_drink %>">
        </div>
        <div class="field">
            <label>Sunday Food</label>
            <input type="text" name="sunday_food" value="<%= thisPost.sunday_food %>">
        </div>
        <div class="field">
            <label>Sunday Event</label>
            <input type="text" name="sunday_event" value="<%= thisPost.sunday_event %>">
        </div>

        <button class="ui button" type="submit">Submit</button>
    </form>


        <div class="month">
         <ul>
           <li class="prev">&#10094;</li>
           <li class="next">&#10095;</li>
           <li>August<br><span style="font-size:18px">2019</span></li>
         </ul>
       </div>

       <ul class="weekdays">
         <li>Su</li>
         <li>Mo</li>
         <li>Tu</li>
         <li>We</li>
         <li>Th</li>
         <li>Fr</li>
         <li>Sa</li>
       </ul>

       <ul class="days">
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li>1</li>
         <li>2</li>
         <li>3</li>
         <li>4</li>
         <li>5</li>
         <li>6</li>
         <li>7</li>
         <li>8</li>
         <li>9</li>
         <li><span class="active">10</span></li>
         <li>11</li>
         <li>12</li>
         <li>13</li>
         <li>14</li>
         <li>15</li>
         <li>16</li>
         <li>17</li>
         <li>18</li>
         <li>19</li>
         <li>20</li>
         <li>21</li>
         <li>22</li>
         <li>23</li>
         <li>24</li>
         <li>25</li>
         <li>26</li>
         <li>27</li>
         <li>28</li>
         <li>29</li>
         <li>30</li>
         <li>31</li>
       </ul>

</div>


<% include partials/footer.ejs %>
